@model IEnumerable<Phonemax.Models.Orderheader>

<div class="col-1">
    <div class="nav-brend dropdown">
        <a class="nav-link dropdown-toggle text-success" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders By Status</a>
        <div class="dropdown-menu">
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="Index">All Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusApproved">Approved Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusPending">Pending Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusCancelled">Cancelled Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusRefunded">Refunded Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusProcessing">InProcess Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Allinone" asp-action="StatusShipped">Shipped Orders</a>
        </div>
    </div>
</div>
<div class="border container p-2 m-2">
    <table class="table table-striped table-bordered table-hover table-responsive active table-light">
        <thead>
            <tr>
                <th class="text-center text-primary">Customer Name</th>
                <th class="text-center text-primary">Payment Status</th>
                <th class="text-center text-primary">Total Amount</th>
                <th class="text-center text-primary">Order Status</th>
                <th class="text-center text-primary">Date & Time</th>
                <th class="text-center text-primary">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center ">@item.Name</td>
                    <td class="text-center ">@item.PaymentStatus</td>
                    <td class="text-center ">@item.OrderTotal</td>
                    <td class="text-center ">@item.OrderStatus</td>
                    <td class="text-center ">@item.OrderDate</td>
                    <td> <a asp-controller="Allinone" asp-area="admin" asp-action="CancelOrder" asp-route-id="@item.Id" class="btn btn-warning">Cancel Order</a></td>

                    
                </tr>
            }
        </tbody>
    </table>
    <p class="text-center text-danger">No other matching records found!!!</p>



</div>
