@model Phonemax.Models.orderdetail
<div class="row">
    <div class="col-12">
        <h2 class="text-primary text-center">
            All Details Of Order By :&nbsp; <i class="fas fa-user"></i>&nbsp;@Model.OrderHeader.Name
        </h2>
    </div>
</div>

<div class="border container p-2 m-2">
    <h2 class="text-center text-primary"><i class="fas fa-laptop-code"></i>Product Details</h2>
    <table class="table table-striped table-bordered table-hover table-responsive active table-light">
        <thead>
            <tr>
                <th class="text-center text-primary">Title     :</th>
                <td class="text-center text-success">@Model.Product.Title</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Covertype Name    :</th>
                <td class="text-center text-success">@Model.Product.covertype.Name</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Category Name      :</th>
                <td class="text-center text-success">@Model.Product.category.Name</td>

            </tr>
           
        </thead>
    </table>
    <table class="table table-striped table-bordered table-hover table-responsive active table-light">
        <thead>
            <tr>
                <th class="text-center text-primary">Customer Name      :</th>
                <td class="text-center text-success">@Model.OrderHeader.Name</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Payment Status     :</th>
                <td class="text-center text-success">@Model.OrderHeader.PaymentStatus</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Total Amount       :</th>
                <td class="text-center text-success">@Model.OrderHeader.OrderTotal</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Order Status       :</th>
                <td class="text-center text-success">@Model.OrderHeader.OrderStatus</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Date & Time        :</th>
                <td class="text-center text-success">@Model.OrderHeader.OrderDate</td>
            </tr>
            <tr>
                <th class="text-center text-primary">TransactionId        :</th>
                <td class="text-center text-success">@Model.OrderHeader.TransactionId</td>
            </tr>
        </thead>
    </table>
   
    <h2 class="text-center text-primary"><i class="fas fa-user"></i>User's Details'</h2>
    <table class="table table-striped table-bordered table-hover table-responsive active table-light">
        <thead>
            <tr>
                <th class="text-center text-primary">Name      :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.Name</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Email Address     :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.Email</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Contact Number     :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.PhoneNumber</td>

            </tr>
            <tr>
                <th class="text-center text-primary">Street Address       :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.StreetAddress</td>

            </tr>
            <tr>
                <th class="text-center text-primary">City       :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.City</td>

            </tr>
            <tr>
                <th class="text-center text-primary">State        :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.State</td>
            </tr>
            <tr>
                <th class="text-center text-primary">Postal Code        :</th>
                <td class="text-center text-success">@Model.OrderHeader.applicationuser.PostalCode</td>
            </tr>
        </thead>
    </table>
</div>
@*@section scripts
    {
    <script src="~/js/details.js"></script>
}*@
@*<tbody>
    <tr>
    </tr>
</tbody>*@